nav {
    margin-top: 28px;
    min-width: 19%;
    top: 0;
    bottom: 0;
    padding-right: 0.5em;
    padding-bottom: 1em;
    overflow-y: auto;
}

.list-group-item {
    padding: 0.2em;
    padding-left: 1em;
}

.list-group-item:hover {
    background-color: rgba(0,0,0,0.09) !important;
}

.list-group-item.heading {
    background-color: #f0f0f0;
}

.list-group-item.top {
    background-color: #f5f5f5;
}

.list-group-item.bottom {
    padding-left: 2em;
}

ul.flat {
    list-style: none;
}

ul.flat li {
    display: inline;
}

ul.flat li p {
    display: inline;
}

ul.flat li:after {
    content: " or ";
}

ul.flat li:last-child:after {
    content: "";
}

ul.outputs li {
    font-family: monospace;
}

ul.outputs li:after {
    content: ", ";
}


footer {
    text-align: center;
    margin: 1em;
}

:target {
   background-color: #ffffaa;
}
